
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


body {
  margin: 0;
  font-family:'Josefin Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right,#008d9c,#5d0081);
  color :aliceblue;
}






